.counter {
    width: fit-content;
    padding: 10px 15px;
    margin: 20px auto;
    font-family: monospace, sans-serif;
    color: green;
    font-size: 5rem;
    box-shadow: 3px 3px rgba(205, 208, 203, 0.61), 1px 0 .4em rgba(96, 98, 96, 0.7);
    border: 2px solid #6f942e;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

}


.limit {
    color: darkred;
}

span {
    display: inline-block;
    margin-top: 10px;
    background-color: #6f942e;
    border-radius: 10px;
    color: snow;
    opacity: .7;
}

button {
    margin: 0 10px;
    padding: 5px 15px;
    font-size: 1.8rem;
    border: 2px solid #6f942e;
    border-radius: 5px;
    color: #6f942e;
}

button:active{
    background-color: #acb98d;
    color: snow;
}

button:disabled {
    color: darkred;
    border-color: #c1c5c1;
    background-color: #c1c5c1;;
}

button:hover {
    cursor: pointer;
}