.counter {
    margin: 10px;
    padding: 15px;
    max-width: 250px;
    min-width: 250px;
    background-color: snow;
    border: 2px solid #6f942e;
    border-radius: 10px;
    color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.span {
    display: inline-block;
    width: 250px;
    height: 85px;
    color: snow;
    line-height: 80px;
    text-align: center;
    font-size: 3rem;
    background-color: #6f942e;
    border-radius: 10px;
}

.span.limit {
    color: darkred;
    font-size: 1.5rem;
}
